body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	color: #292b2c;
}
a {
	text-decoration: none;
	color: #292b2c;
}
a:hover {
	text-decoration: underline;
}

/* header */
header {
	background-color: #000;
	display: flex;
	flex-direction: column;
	padding: 20px 10px;
}

header .logo {
	padding-bottom: 10px;
}

header .logo img {
	height: 45px;
	width: 71px;
}

header .search {
	display: flex;
	flex-direction: column;
}

header input {
	width: 100%;
	font-size: 1.063em;
	background-color: #555;
	color: #fff;
	border: 0;
	padding: 10px;
    box-sizing: border-box;
}

/* items */
.items {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.items .item{
	width: 200px;
	text-align: center;
	box-sizing: border-box;
	padding: 10px 10px;
	font-size: 0.875em;
}

.item > div {
	padding-bottom: 8px;
}

.item .options {
	color: #767676;
	font-size: 0.857em;
	padding-bottom: 5px;
}
.item .brand {
	font-weight: 600;
	font-size: 0.929em;
	color: #000;
}
.item .sale-price .discount {
	color: #c00;
}
.item .sale-price .regular{
	text-decoration: line-through;
}

/* ratings */
.ratings-wrapper {
	
}
.ratings-wrapper .ratings {
	margin: auto;
	position: relative;
	width: 70px;
    overflow: hidden;
	height: 17px;
	display: inline-block;
	vertical-align: middle;
}
.ratings-wrapper .ratings span {
	position: absolute;
	left: 0;
	right: 0;
}
.ratings-wrapper .ratings span.rate {
	width: 0%;
	overflow: hidden;
	color: #ff0000;
}


/* media */
@media only screen and (min-width: 766px) {
	header {
		flex-direction: row;
		align-items: center;
	}
	header .logo img {
		height: 70px;
		width: 110px;
		flex-grow: 2;
	}
	header .search {
		margin-left: 10px;
		flex-grow: 8;
	}
}